{% extends 'base.html.twig' %}

{% block title %}Ver Productos{% endblock %}

{% block body %}
    <h2> Mostrar Productos</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID<th>NOMBRE DEL PRODUCTO</th><th>REFERENCIA DEL PRODUCTO</th><th>EDITAR</th><th>ELIMINAR</th>
                    </tr>
                </thead>
                <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.nameProduct }}</td>
                <td>{{ product.refproduct }}</td>              
                <td><a href="{{ path('product_edit', {'id': product.id}) }}" class="ico_link">&#128393;</a></td>
                <td><a href="{{ path('product_delete', {'id': product.id}) }}" class="ico_link">&#10008;</a></td>
                </tr>
            </table>
     <a href="{{ path('index') }}" style="font-size:50px; top:90%; position:fixed;">Volver a la lista</a>
{% endblock %}
