{{ form_start(form) }}

{{ form(form) }}
    <button class="button">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{# <form name="users" method="post" action="{{ path('users_new') }}">
        <table>
            <tr>
                <td><label for="users_name">Nombre</label></td><td><input type="text" id="users_name" name="users[name]"></td>
            </tr>
            <tr>
                <td><label for="users_surname">Apellidos</label></td><td><input type="text" id="users_surname" name="users[surname]"></td>
            </tr>
            <tr>
                <td><label for="users_ref_product">Referencia de Producto</label></td><td><input type="text" id="users_ref_product" name="users[Ref_product]"></td>
            </tr>
            <tr>
                <td><label for="users_city">Ciudad</label></td><td><input type="text" id="users_city" name="users[city]"></td>
            </tr>
            <tr>
                <td><label for="users_cp">Codigo Postal</label></td><td><input type="text" id="users_cp" name="users[cp]"></td>
            </tr>
            <tr>
                <td><label for="users_email">Email</label></td><td><input type="text" id="users_email" name="users[email]"></td>
            </tr>
            <input type="hidden" id="users__token" name="users[_token]" value="I6fCpVeD79WFx2Fo15Q_ddh2m-_WYjAIjCR9iF1NMXs">
        </table>
    <button>Crear</button>
</form> #}