{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div style="z-index:1">
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
             <thead>
                    <tr>
                        <th>ID</th><th>NOMBRE</th><th>APELLIDOS</th><th>CP</th><th>CIUDAD</th><th>EMAIL</th><th>REFERENCIA DEL PRODUCTO</th><th>EDITAR</th><th>Eliminar</th>
                    </tr>
                </thead>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>              
                <td>{{ user.cp }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.refProduct }}</td>
                <td><a href="{{ path('users_edit', {'id': user.id}) }}" class="ico_link">&#128393;</a></td>
                <td><a href="{{ path('users_delete', {'id': user.id}) }}" class="ico_link">&#10008;</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
